* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Nunito Sans', sans-serif; 
}
header {
	background: url(../images/guitar-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 110vh;
}
nav {
	height: 75px;
	border-bottom: 1px solid rgba(255,255,255,.12);
	display: flex;
	justify-content: center;
	align-items: center;
}
nav > ul {
	display: flex;
	list-style-type: none;
}

nav > ul > li {
	color: white;
	margin: 0 20px;
	font-weight: bolder;
}
nav > ul > li:hover{
	cursor: pointer;
}
/*Syling for buttons*/
.btn{
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
}
.btn-product{
	background-color: salmon;
	font-weight: bold;
} 
#guitarBtn{
	position: absolute;
	right: 100px;
	top: 20px;
	transition: 300ms;
}
#guitarBtn:hover {
	top: 18px;
}
/*Disappearing Menu Css*/
.sub-menu{
	background-color: rgba(255,255,255,.8);
	width: 80%;
	height: 200px;
	border-radius: 5px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 50px;
	transition: 400ms;
	/*Disappearing Code*/
	visibility: hidden;
}
#mega-menu:hover > .sub-menu, #mega-menu > .sub-menu:hover{
	cursor: pointer;
	visibility: visible;
}
.sub-menu > div {
	width: 25%;
}
div + div {
	border-left: 1px solid black;
}
.sub-menu > div > h4,.sub-menu > div > p {
	margin:10px 0;
	padding: 0 10px;
	transition: 400ms;
	color: black;
}
.sub-menu > div > p:hover{
	cursor: pointer;
	background-color: darkgray;
	opacity: .8;
}
.header-text {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90vh;
}
.header-text > h1 {
	font-size: 70px;
	letter-spacing: 2px;
}
.header-text p {
	font-size: 20px;
	letter-spacing: 2px;
}
.btn-learn-more {
	margin-top: 20px;
	background-color: salmon;
	color: black;
	transition: 500ms;
	position: relative;
	font-weight: 400;
}
.btn-learn-more:hover{
	bottom: 2px;
}
.header-text > h1, .header-text p, .btn-learn-more {
	margin-left: 50px;
}
/*End CSS for Header*/

/*Start of Qoute CSS*/
.quote{
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quote > div {
	width: 50%;
	text-align: center;
}
.quote > div > div {
	text-align: center;
	margin-top: 20px;
}
.btn-quote {
	position: relative;
}
.btn-quote:hover{
	bottom: 2px;
}
/*End of Qoute CSS*/

/*Star of Video Section CSS*/
.video-section-container {
	height: 100vh;
	display: flex;
}
.right-container, .left-container {
	width: 50%;
	border: none;
}
.left-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-container img {
	height: 380px;
	width: 640px;
	border-radius: 10px;
}

.right-container {
	height: 380px;
	margin: 100px 0px;
}

.top-section {
	margin-top: 70px;
}
.top-section p {
	line-height: 2rem;
	font-size: 1.3rem;
	margin-bottom: 15px;
}
.top-section h1 {
	font-size: 2.2rem;
}

.bottom-section {
	display: flex;
	border:none;
	margin-top: 30px;
	text-align: left;
}
.column-one, .column-two{
	border: none;
	padding: 0 40px;
}
.number {
	font-size: 2.5rem;
}

.subscript {
	position: relative;
	font-size: 18px;
	bottom:14px;
}

/*End of Video Section CSS*/




/*Start of card container*/
.card-container {
	padding: 100px;
	height: 100vh;
	border: none;

}
.text-container {
	text-align: center;
	margin-bottom: 20px;
	border: none;
}

.text-container h1 {
	font-size: 2.5rem;
	border: none;
}

.profile-container{
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;

}
.card-one, .card-two, .card-three {
	height: 350px;
	width: 400px;
	padding: 30px;
	margin: 10px 20px;
	border: 1px solid gray;
	position: relative;
}

.profile-container div p {
	height: 60%;
	font-size: 1.3rem;
}

.card-one:hover, .card-two:hover, .card-three:hover {
	box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.47);
	cursor: pointer;
	bottom: 2px;
}

.profile-name {
	border:none;
}

.layer {
	margin-bottom: 60px;
}

.card-one .profile-name p, .card-two .profile-name p, .card-three .profile-name p  {
	text-align: center;
}

.image-container img {
	height: 80px;
	width : 80px;
	border: none;
}
.profile-pic {
	position: absolute;
	border-radius: 50px;
	border: none;
	bottom: 100px;
	left: 150px;
}

/*End of card container*/

